.stars-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.star-wrapper {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    margin-top: 0.6rem;
    transition: all 0.2s ease;
  }

.star-wrapper:hover {
    transform: scale(1.1);
}