.dropdown-container {
    position: relative;
    display: flex;
    gap: 8px;
}

.country-input {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.country-input input {
    background-color: rgba(0, 0, 0, 0);
    color: #999;
    width: 110px;
    font-size: 11.5px;
    padding: 8px;
    border: 0px;
    outline: 1px solid white;
    border-radius: 4px;
    transition: all 0.2s ease;
} 

.country-input input:focus {
    outline-color: #3f466b;
}

.dropdown-menu {
    position: absolute;
    width: 110px;
    left: 0;
    top: 100%;
    max-height: 150px;
    border: 1px solid rgba(221,221,221,0.1);
    background: rgba(0,0,0,0.6);
    z-index: 1000;
    margin-top: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
      }
}

.dropdown-genre {
    padding: 8px;
    cursor: pointer;
    transition: background 0.2s;
}
  
.dropdown-genre:hover {
    background: rgba(255,255,255,0.2);;
}

.flag-icon {
    width: 40px;
    height: 26px;
    object-fit: cover;
    border-radius: 3px;
    outline: 1px solid rgba(255, 255, 255, 0.6);
    margin-left: 6px;
    margin-top: 2px;
    vertical-align: middle;
}

@media (max-width: 1200px) {

}

@media (max-width: 600px) {
    .dropdown-container {
        width: 50%;
        gap: 2px;
    }

    .country-input input {
        width: 85px;
        font-size: 10px;
        padding: 6px;
    } 

    .dropdown-menu {
        width: 85px;
    }

    .flag-icon {
        width: 30px;
        height: 21px;
        margin-top: 2px;
        outline: 0px;
    }
}