.filters-panel {
    position: absolute;
    left: 0;
    right: 0;
    background: #2d3340;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 0rem;
    z-index: 100;
    border: 1px solid #3e4451;
}
  
 .filter-section {
    display: flex;
    justify-content: space-between; 
    padding-bottom: 1rem;
    border-bottom: 1px solid #3e4451;
    margin-bottom: 1rem;
}
  
 .filter-section:nth-last-child(2) {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.filter-subsection {

}
  
 .filter-title {
    color: #a6adbb;
    margin: 0 0 1rem 0;
    font-size: 0.9rem;
    text-transform: uppercase;
}

 .filter-submit {
   position: relative;
   left: 2px;
   margin-top: 2rem;
   display: flex;
   gap: 1rem;
   justify-content: flex-end;
}

 .filter-submit button {
   padding: 0.5rem 1rem;
   cursor: pointer;
   color: white;
   border-radius: 4px;
   background: #007bff;
   border: none;
}

.year-range-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
   left: 0;
   right: 0;
}
 
.year-input {
   padding: 0.3rem 0.5rem;
   background-color: rgba(0, 0, 0, 0);
   color: #999;
   font-size: 0.9rem;
   border: 0px;
   outline: 1px solid white;
   border-radius: 4px;
   transition: all 0.2s ease;
   text-align: center;
   width: 73px;
}

.year-input:focus {
   outline-color: #3f466b;
}
 
.year-separator {
   color: #6b7280;
   padding: 0 0.5rem;
   font-weight: 500;
}

.seen-by-list {
    display: flex;
    gap: 8px;
}

.petit-tag {
    background: #e8f4ff;
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: bolder;
}

.petit-any-tag {
    background: #ecf2f7;
    padding: 0.25rem 0.75rem;
    font-size: 0.85rem;
    outline: 1px solid black;
    font-weight: bolder;
}

.petit-unselected {
    cursor: pointer;
    transition: all ease 0.2s;
    color: #12467380;
}

.petit-selected {
    cursor: pointer;
    color: #124673;
}

.petit-unselected:hover {
    color: #124673;
}


  
  