.header-container {
  display: flex; 
  position: fixed;  
  top: 0;           
  width: 100%;     
  height: 65px;   
  justify-content: space-between; 
  align-items: center; 
  padding: 0rem 1rem;
  background: #0f1014;
  gap: 2rem; 
  z-index: 1000;
}

.header-logo {
  color: #265C8C;
  font-size: 30px;
  font-weight: 600;
  display: flex; 
  align-items: center; 
  gap: 10px; 
}

.header-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-button {
  background: #1a1c22;
  color: #fff;
  border: 1px solid #265C8C;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-button:hover {
  background: #265C8C;
  border-color: #fff;
}

.access-input {
  background: #1a1c22;
  border: 1px solid #444;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  width: 140px;
}

.access-input::placeholder {
  color: #888;
}

.logged-message {
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-weight: 600;
  color: #3681c2;
  gap: 8px;
  width: 125px;
  margin-left: 15px;
}

.logout-button {
  font-size: smaller;
  background: #1a1c22;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid #265c8c;
  border-radius: 6px;
  padding: 2px 4px;
}

.logout-button:hover {
  background: #265C8C;
  border-color: #fff;
}

@media (max-width: 1200px) {

}

@media (max-width: 600px) {
  .header-logo {
    font-size: 0px;
  }

  .header-logo img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .header-controls {
    gap: 0.25rem;
  }

  .header-button {
    padding: 4px 6px;
    font-size: smaller;
    border-radius: 5px;
  }

  .logged-message {
    gap: 5px;
    width: 5rem;
    margin-left: 0.5rem;
  }

  .access-input {
    padding: 6px;
    border-radius: 5px;
    width: 8rem;
    font-size: smaller;
  }
}