/* SearchBar.css */

.search-filter-container {
  max-width: 650px;
  margin: 1rem auto;
  position: relative;
}

.searchBar-container {
  justify-content: center;
  max-width: 600px;
  max-height: 37px;
  margin: 2rem auto 0.5rem;
  padding: 0 1rem;
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.search-input {
  flex: 1;
  min-width: 0;
  padding: 0.8rem 1.2rem;
  border: 2.5px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
  background: #ffffff;
}

.search-input:focus {
  outline: none;
  border-color: #1c2a6d;
}

.search-input:hover {
  border-color: #1c2a6d;
}

.search-input::placeholder {
  color: #9ca3af;
}

.filter-button {
  padding: 0.8rem;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.filter-button:hover {
  border-color: #1c2a6d;
  background: #f5f3ff;
}

.filter-button.active {
  border-color: #1c2a6d;
  background: #f0edff;
  transition: all 0.15s ease;
}

.filter-icon {
  width: 24px;
  height: 24px;
  stroke: #1c2a6d;
  stroke-width: 2;
  stroke-linecap: round;
}

.sort-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sort-button {
  height: 37px;
  padding: 0.8rem;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.sort-button:hover {
  border-color: #1c2a6d;
  background: #f5f3ff;
}

.sort-button.active {
  border-color: #1c2a6d;
  background: #f0edff;
  transition: all 0.15s ease;
}

.extras-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.prioritized-button {
  height: 29px;
  padding: 0.25rem;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
}

.prioritized-button:hover {
  color: #d13838b7;
}

.prioritized-button.active {
  color: #d13838;
}

.suggestions-button {
  height: 29px;
  padding: 0.25rem 1rem;
  width: 6rem;
  border-radius: 8px;
  background: #ffffffee;
  cursor: pointer;
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: small;
  font-family: "Red Hat Text";
}

.suggestions-button:hover {
  color: #d13838aa;
}

.suggestions-button.active {
  color: #d13838;
}

@media (max-width: 600px) {
  .searchBar-container {
    padding: 0 0rem;
  }
}
