.sort-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 8rem;
    top: 2.9rem;
    background: #2d3340;
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;
    z-index: 100;
    border: 1px solid #3e4451;
}

.sort-section {
    display: flex;
    justify-content: space-around;
}

.sort-button {
    height: 0.7rem;
    width: 0.7rem;
    padding: 0.8rem;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center; 
    opacity: 0.5;
}
  
.sort-button:hover {
    background: #f5f3ff;
    opacity: 1;
}
  
.sort-button.active {
    background: #f0edff;
    opacity: 1;
    transition: all 0.15s ease;
}

.sort-icon {
    position: relative; 
    top: 1px;
    padding-left: 1px;
}

.sort-title {
    color: #a6adbb;
    font-weight: 600;
    font-size: 0.75rem;
    text-align: center;
    width: 70%;
    text-transform: uppercase;
}

.sort-submit {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
 }
 
.sort-submit button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    background: #007bff;
    border: none;
 }

.arrow-button {
    cursor: pointer;
}

