

.suggestions-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.suggestion-card {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1a1c22; 
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
    font-size: 0.8rem;

    display: flex;
    flex-direction: column;
}

.suggestion-card.hoverable:hover {
    opacity: 0.7;
}
  
.suggestionTitle {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    color: #fff;
}
  
.comment {
    background: rgba(255, 255, 255, 0.05);
    padding: 1rem;
    height: 100%;
    border-radius: 6px;
    font-style: italic;
    line-height: 1.4;
}
  
.suggested-by-container {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

 /* No results */

.noResultsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    top: 0;
    bottom: 0;
    text-align: center;
}

.noResultsContent {
    max-width: 500px;
    padding: 2rem;
}

.noResultsTitle {
    color: #e0e0e0;
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.noResultsMessage {
    color: #9ca3af;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

/* Config */

.suggestion-config-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 5px;
    z-index: 2;
    padding: 3rem;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(1px);
}

.config-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    outline: 1px solid white;
    background: rgba(255,255,255,0.6);
    border-radius: 8px;
}

.config-button:hover {
    opacity: 0.75;
}

.accept-button {
    color: rgba(0, 0, 0, 0.877);
}

.discard-button {
    color: rgba(0, 0, 0, 0.877);
}


@media (max-width: 1200px) {
    .suggestions-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .suggestions-container {
        grid-template-columns: 1fr; 
        padding: 0.5rem;
    }
}