/* Modal */
 
.modal-action {
    position: relative;
    top: 7px;
    left: 2px;
    margin-top: 0.95rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.modal-action button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
    border-radius: 4px;
}
  
.modal-action button[type="submit"] {
    background: #007bff;
    border: none;
}

.modal-action button[type="cancel"] {
    background: none;
    color: #007bff;
    border: 1px double #007bff;
}

/* Card */

.movie-card {
    max-width: 24rem;
    max-height: 90%;
    overflow: hidden;
    background: #1a1c22;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
}

.movie-title {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.movie-year {
    color: #666;
    font-weight: 400;
}

.section-title {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0rem;
    padding: 0.3rem 0;
    border-bottom: 1px solid #eee;
}
  
.detail-label {
    font-weight: 600;
    font-size: small;
    color: #444;
}
  
.detail-value {
    color: #666;
}


/* Simple Inputs */

.title-input {
    margin-right: 5px;
    width: 55%;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    outline: none; 
    border-bottom: 2px solid #ccc;
    color: white;
}

.year-input {
    text-align: center;
    width: 73px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    outline: none; 
    border-bottom: 2px solid #ccc;
    color: white;
}

.director-input {
    text-align: right;
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    outline: none; 
    color: #666;
}

.length-input {
    text-align: center;
    width: 15px;
    background-color: rgba(0, 0, 0, 0);
    outline: none; 
    border: 0px;
    color: #666;
}


/* Seen By */

.seen-by-list {
    display: flex;
    gap: 8px;
}

.petit-tag {
    background: #e8f4ff;
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: bolder;
}

.petit-unselected {
    cursor: pointer;
    transition: all ease 0.2s;
    color: #12467380;
}

.petit-selected {
    cursor: pointer;
    color: #124673;
}

.petit-unselected:hover {
    color: #124673;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Media Queries */

@media (max-width: 1200px) {

}

@media (max-width: 600px) {
    .movie-card {
        width: 95%;
        max-height: 100%;
    }
}
